<div class="container">
  <div id="show">
    <p><%@list.bookmarks.each do |bookmark| %></p>
    <%=image_tag bookmark.movie.poster_url %>
    <p>
      <%= bookmark.movie.title%> - <%= bookmark.movie.rating%> - <%= bookmark.comment %>
      <%= link_to "Delete",bookmark_path(bookmark),data: {turbo_method: :delete, turbo_confirm: "Delete #{bookmark.movie.title}?"}%></p>
    <p>
    <%= bookmark.movie.overview%></p>
    <% end %>
</div>
